@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Overpass+Mono:wght@300..700&family=Press+Start+2P&family=Righteous&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=VT323&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --mc-font: italic 0.8rem "Press Start 2P", sans-serif;
    --white-color: #fff;
    --lato-font: "Lato", sans-serif;
    --lila-szin: #940094;
    --atlatszo-lila: #940094bb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    color: white;
    /* overflow-x: hidden;     */
}

.custom-scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100vh;
    background: #6f00b91a;
    z-index: 100000;
    box-shadow: #460db1 0 0 15px;
}
  
.custom-thumb {
    width: 90%;
    background: linear-gradient(rgb(111, 46, 216), rgb(45, 56, 177)); 
    border-radius: 4px;
    position: absolute;
    cursor: pointer;
}
  
.custom-thumb:hover {
    background: linear-gradient(rgb(88, 31, 180), rgb(34, 44, 158));
}
  
::-moz-selection { 
    color: #fff;
    background: #fff;
    border-radius: 10px;
}
  
::selection {
    color: #fff;
    background: #7800af;
    border-radius: 10px;
}

.HeaderBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('images/headerback.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: 0.5s ease;
    filter: blur(2px);
}

/* .background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    opacity: 1; 
    transition: 0.5s ease;
} */

.mcfont800 {
    font: var(--mc-font);
    font-weight: 800;
}

.mcfont {
    font: var(--mc-font);
}

/*TODO gorgeteseffekt */

section.teljeskep {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    position: relative;
}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

.lefele_nyil {
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}
  
.nyil {
    fill: none;
    stroke: url(#grad);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: arrow-flow 1.3s infinite;
    margin: 10px;
}
  
.nyil:nth-child(1) { animation-delay: 0.3s; }
.nyil:nth-child(2) { animation-delay: 0.2s; }
.nyil:nth-child(3) { animation-delay: 0.1s; }
  
@keyframes arrow-flow {
    0%, 100% {
      opacity: 0.3;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
      transform: translateY(-15px);
    }
}
  
.lefele_nyil:hover {
    filter: drop-shadow(0 0 10px #940094aa);
}


                                /*TODO NAVBAR */
.navbar {
    display: flex;
    position: fixed;
    top: -26px;
    left: 24px;
    right: 24px;
    align-items: center;
    /* background: linear-gradient(to right, #000000ab, #00000080); */
    background: #000000c7;
    border-radius: 15px;
    width: 90%;
    height: 40px;
    max-width: 1160px;
    transition: top 1s ease;
}

.navsnLogo {
    width: 33px;
    height: 33px;
    margin-left: 8px;
    
}

.navsnTitle {
    position: relative;
    display: inline-block;
    left: 5px;

    color: transparent;
    /* font-family: 'Futura PT', Futura, sans-serif; */
    font: var(--mc-font);
    /* letter-spacing: -1px; */
    letter-spacing: 1px;
    text-shadow: 
        0 0 25px rgba(156, 39, 176, 0.4),
        0 0 40px rgba(156, 39, 176, 0.3),
        0 0 55px rgba(156, 39, 176, 0.2),
        0 0 2px rgba(255,255,255,0.1);


    background: linear-gradient(
        130deg,
        #6100b6 30%,
        #b625cf 50%,
        #6100b6 70%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 100%;
    animation: text-shine 8s linear infinite;
}

@keyframes text-shine {
    0% {background-position: -200% 0;}
    100% {background-position: 200% 0;}
}

.navbar a {
    position: relative;
    padding: 14px 0;
    text-decoration: none;
    font: var(--mc-font);
    
    background: linear-gradient(90deg, 
        #1100ffab 0%,
        #55bbffab 50%,
        #1100ffab 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 300% 200%;
    background-position: 100% 0;
    transition: background-position 0.5s ease;
}

.navbar a:hover {
    background-position: 0% 0;
}


.navbar a:active {
    background-position: 100% 0;
    transition: background-position 0.1s ease;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-left: 64px;
    gap: 24px;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 15px;
}

.hamburger div {
    width: 22px;
    height: 3px;
    background: var(--white-color);
    margin: 5px 0;
    border-radius: 10px;
}

.hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    bottom: 2px;
    padding: 14px 0;
}

.hamburger div {
    width: 80%;
    height: 3px;
    background-color: #fff;
    transition: all 1s ease;
}

.hamburger.open div {
    display: none;
}

.hiddenNav {
    z-index: 1000000;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    backdrop-filter: blur(2px);
    /* background: #940094a6; */
    background: linear-gradient(130deg, #da3fdabb, #5f005fab);

    max-width: 248px;
    width: 248px;
    height: 728px;

    right: -248px;
    top: 64px;

    /* border-radius: 13px;
    border: black 1px solid;
    transition: right 1s ease; */
    border-radius: 13px;
}

.hiddenNav.open {
    right: 16px;
    display: flex;
    animation: navBarAnim 0.5s forwards;
}

.hiddenNav.close {
    /* display: none; */
    animation: navBarAnim1 0.5s forwards;
}

@keyframes navBarAnim {
    0% {
        right: -248px;
    }
    50% {
        right: 64px;
    }
    100% {
        right: 16px;
    }
}

@keyframes navBarAnim1 {
    0% {
        right: 16px;
    }
    50% {
        right: 64px;
    }
    100% {
        right: -248px;
    }
}

.hiddenNavCim {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 16px;
    gap: 4px;
    height: 56px;
    /* background: var(--lila-szin); */
    /* border-radius: 12px 12px 0 0; */
    z-index: 100;
}

.hiddenNavCim img {
    width: 40px;
    height: 40px;
}

.hiddenNavCim h1 {
    font-size: 1rem;
}

.hiddenNavlinks {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 1.6rem;
    top: 2rem;
    /* left: 1.5rem; */
}

.hiddenNav a {
    position: relative;
    padding: 10px 0;
    width: 118px;
    text-align: center;

    color: var(--white-color);
    text-decoration: none;
    font: var(--mc-font);
    font-size: 0.85rem;

    transition: all 0.3s ease;

}

/* 
.hiddenNav a:hover {
    background-size: 100% 100%;
}

.hiddenNav a:active {
    background-size: 0% 100%;
    transition: background-size 0.1s ease;
} */


                            /*HEADER*/
.main {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 15rem;
    width: 100%;
    max-width: 456px;
    /* background: linear-gradient(135deg, #000000bb, #0000008e); */
    background: transparent;
    backdrop-filter: blur(8px);
    padding: 8px 8px 15px 8px;
    border: rgba(146, 16, 146, 0.5) 5px solid;
    border-radius: 15px;
}

.mainText {
    width: 100%;
    padding: 0 0 0 5px;
    /* max-width: 248px; */
    /* font-family: "VT323", monospace; */
    /* font-family: "Overpass Mono", monospace; */
    /* font-family: "Righteous", sans-serif; */
    font-family: var(--lato-font);
    font-weight: 600;

}

.sntitle {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    color: var(--white-color);
}

.mainsnLogo {
    width: 40px;
    height: 40px;
}

.mainsnH1 {
    justify-content: center;
    letter-spacing: 2px;
}

.mainButtons {
    display: flex;
    justify-content: space-evenly;
    margin: 34px 0 6px;
}

.mainButton {
    background: none;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: var(--lato-font);
    font-weight: 800;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.15s ease;
}

.mainButton1 {
    background: #940094;
    padding: 5px 54px;
}

.mainButton1:hover {
    transform: scale(1.1);
}

.mainButton1:active {
    transform: scale(1);
    transform: transform 0.01s ease;
}

.mainButton2 {
    border: #940094 solid 4px;
    padding: 5px 50px;
}

.mainButton2:hover {
    background: #940094;
    transform: scale(1.1);
}

.mainButton2:active {
    transform: scale(1);
    transform: transform 0.01s ease;
}

@media screen and (max-width: 1024px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .main {
        left: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .navbar-right {
        display: none;
    }
    .navbar {
        padding: 3px 0;
        justify-content: flex-end;
    }
    .hamburger {
        display: block;
        padding: 3px 0;
    }
    .hamburger div {
        display: block;
    }
    .main {
        max-width: 386px;
    }
    .mainButton1 {
        padding: 5px 48px;
    }
    .mainButton2 {
        padding: 5px 42px;
    }
}